---
title: Animal Gaits on Quadrupedal Robots Using Motion Matching and Model-Based Control
description: 2021 IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS 2021)
layout: distill
published: true
date: 2021-08-04 14:44:33
img: /assets/img/2021-08-04/teaser.png
permalink: /animal-gaits-on-quadrupedal-robots/
tags: [robotics, character animation, publication]
authors:
  - name: Dongho Kang
    url: "https://donghok.me/"
    affiliations:
      name: CRL<d-footnote>Computational Robotics Lab.</d-footnote>, ETH Zurich
  - name: Simon Zimmermann
    url: "https://n.ethz.ch/~simonzi/"
    affiliations:
      name: CRL, ETH Zurich
  - name: Stelian Coros
    url: "http://crl.ethz.ch/"
    affiliations:
      name: CRL, ETH Zurich
bibliography:
---

<div class="row">
  <div class="col-sm mt-3 mt-md-0">
      <img class="img-fluid" src="{{ '/assets/img/2021-08-04/teaser.png' | relative_url }}" alt="" title="teaser"/>
  </div>
</div>

<h1>Abstract</h1>

<p>
In this paper, we explore the challenge of generating animal-like walking motions for legged robots. 
To this end, we propose a versatile and robust control pipeline that combines a state-of-the-art model-based controller with a data-driven technique that is commonly used in computer animation.
We demonstrate the efficacy of our control framework on a variety of quadrupedal robots in  simulation. 
We show, in particular, that our approach can automatically reproduce key characteristics of animal motions, including speed-specific gaits, unscripted footfall patterns for nonperiodic motions, and natural small variations in overall body movements.
</p>

<p>
  <b>Paper: [<a href="https://ieeexplore.ieee.org/document/9635838">IEEE Xplore</a>]</b> &emsp; <b>Preprint: [<a href="{{ "/assets/pdf/kang2021animal.pdf" | relative_url }}">PDF</a>]</b> 
</p>

<p>
  <b>News:</b> our supplementary video of "Animal Gaits on Quadrupedal Robots Using Motion Matching and Model Based Control" has been selected for <a href="https://spectrum.ieee.org/video-friday-robot-opera">IEEE Spectrum Video Friday collection</a> on August 06th 2021!
</p>

<hr>

<h1>Supplementary Video</h1>

<p>
{% include youtube_player.html id="6-zTPTL0fJY" %}
</p>

<hr>

<h1>Presentation</h1>

<p>
{% include youtube_player.html id="CcWXyVf2PCY" %}
</p>

<hr>

<h1>Bibtex</h1>

<p>
{% highlight txt %}
@inproceedings{kang2021animal,
  title={Animal Gaits on Quadrupedal Robots Using Motion Matching and Model-Based Control},
  author={Kang, Dongho and Zimmermann, Simon and Coros, Stelian},
  booktitle={2021 IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS)},
  pages={8500--8507},
  year={2021},
  organization={IEEE},
  doi={10.1109/IROS51168.2021.9635838}
}
{% endhighlight %}
</p>

<hr>
<h1>Acknowledgement</h1>

<p>
This work has received funding from the European Research Council (ERC) under the European Union’s Horizon 2020 research and innovation programme.
</p>