---
title: Nonlinear Model Predictive Control for Quadrupedal Locomotion Using Second-Order Sensitivity Analysis
description: ICRA 2022 - 6th Full-Day Workshop on Legged Robots
layout: distill
published: true
date: 2022-05-19 14:44:33
img: /assets/img/2022-05-19/teaser.png
permalink: /nmpc-for-quad-loco/
tags: [robotics, publication]
authors:
  - name: Dongho Kang
    url: "https://donghok.me/"
    affiliations:
      name: CRL<d-footnote>Computational Robotics Lab.</d-footnote>, ETH Zurich
  - name: Flavio De Vintenti
    affiliations:
      name: CRL, ETH Zurich
  - name: Stelian Coros
    url: "http://crl.ethz.ch/"
    affiliations:
      name: CRL, ETH Zurich
bibliography:
---

<div class="row">
  <div class="col-sm mt-3 mt-md-0">
      <img class="img-fluid" src="{{ '/assets/img/2022-05-19/teaser.png' | relative_url }}" alt="" title="teaser"/>
  </div>
</div>

<p> <!-- empty space for margin --> </p> 

<h1>Abstract</h1>

<p>
We present a versatile nonlinear model predictive control (NMPC) formulation for quadrupedal locomotion. 
Our formulation jointly optimizes a base trajectory and a set of footholds over a finite time horizon based on simplified dynamics models. 
We leverage second-order sensitivity analysis and a sparse Gauss-Newton (SGN) method to solve the resulting optimal control problems. 
We further describe our ongoing effort to verify our approach through simulation and hardware experiments. 
Finally, we extend our locomotion framework to deal with challenging tasks that comprise gap crossing, movement on stepping stones, and multi-robot control. 
</p>
<p>
  <b>Paper: [<a href="https://arxiv.org/abs/2207.10465">ArXiv</a>]</b> &emsp; <b>Workshop Preprint: [<a href="{{ "/assets/pdf/kang2022nonlinear.pdf" | relative_url }}">PDF</a>]</b> 
</p>

<hr>

<h1>Supplementary Video</h1>

<p>
{% include youtube_player.html id="BrJSRlAJaX4" %}
</p>

<hr>

<h1>Presentation</h1>

<p>
Video presentation for <a href="https://leggedrobots.org/">"ICRA 2022 - 6th Full-Day Workshop on Legged Robots".</a>
</p>
<p>
{% include youtube_player.html id="CGtzHkMmNuY" %}
</p>

<hr>

<h1>Demos</h1>

<p>
{% include youtube_player.html id="J9GfVgz80lk" %}
</p>

<p>
{% include youtube_player.html id="D99qXOs9uQs" %}
</p>

<p>
{% include youtube_player.html id="rUv4jwwKFiY" %}
</p>

<hr>

<h1>Bibtex</h1>

<p>
{% highlight txt %}
@misc{kang2022nonlinear,
  title={Nonlinear Model Predictive Control for Quadrupedal Locomotion Using Second-Order Sensitivity Analysis}, 
  author = {Kang, Dongho and De Vincenti, Flavio and Coros, Stelian},
  url = {https://arxiv.org/abs/2207.10465},
  year={2022},
  eprint={2207.10465},
  archivePrefix={arXiv},
  primaryClass={cs.RO},
}
{% endhighlight %}
</p>

<hr>
<h1>Acknowledgement</h1>

<p>
This work has received funding from the European Research Council (ERC) under the European Union’s Horizon 2020 research and innovation programme (grant agreement No. 866480.)
</p>